body p, body ul {
   letter-spacing: 1px;
   line-height: 1.25em !important;
}

#logo-close {
   margin-top: -7px;
}

#wrapper nav {
   position: relative;
   margin-left: -48px;
   width: 48px;
   float: left;
}

#type-list {
   text-align: center;
}

#type-list ul li {
   float: left;
   display: block;
}